* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

section {
    padding-bottom: 100px;
}

h1 {
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 700;
}

h2 {
    font-size: 30px;
}

h3 {
    color: tomato;
}

h1 span {
    color: darksalmon;
}

p {
    color: dimgray;
    text-align: justify;
}

section nav {
    height: 20vh;
    width: 100%;
    background-color: firebrick;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 20%;
    text-align: center;
}

.logo img {
    height: 100px;
}

.bar {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bar a {
    text-decoration: none;
    text-transform: uppercase;
    color: ghostwhite;

}

.bar a:first-child {
    color: #00E4FF;
}

.bar a:hover {
    color: #00E4FF;
}


















.side-change {
    display: flex;
}



.half {
    width: 50%;
    margin: 50px;
}

.half img {
    width: 100%
}

.btn {
    text-decoration: none;
    background: linear-gradient(to right, orange, rgb(255, 81, 0));
    padding: 20px 40px;
    border-radius: 50px;
    color: papayawhip;
    font-weight: 700;

}

.section1 {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.about-contact {
    background-image: url(shapes/7.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100%;
}

.container div {
    width: 250px;
    height: 450px;
    margin: 40px;
    padding: 20px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 20px;

}

.container {
    display: flex;
    justify-content: space-between;


}

.food-item {
    box-shadow: 10px 10px 20px gray;
    ;
}

.food-item img {
    width: 250px;
    height: 250px;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.receipie {
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
}

footer {
    background-color: darkslateblue;
    height: 200px;
    width: 100%;
}

.ender {
    padding: 50px;

}

.ender h1 {
    font-size: 30px;
    text-align: center;
    color: white;
}

.ender p {
    font-size: 15px;
    text-align: center;
    color: white;
}